<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%-title %></title>
  </head>
  <body class="dashboard-body">
   
    <div class="dashboard-header">
      <h1 ><%= heading %></h1>
    </div>
    <div class="dashboard-form"> 
      <form method="post" class="dashboard-form-inner">
        
        <input type="text" name="question_text" id="question_text" />
        <button type="submit">Submit</button>
      </form>

       
     </form>
   </div>
   <div class="dashboard-h2-messages-sendt">
     <h2 >Tidligere forespørsler</h2>
   </div>

    <div class="dashboard-messages-sendt">
      
      <% if (messages && messages.length > 0) { %>
        <ul>
          <% messages.forEach(message => { %>
            <li>
              <p><strong>Forespørsel:</strong> <%= message.question_text %></p>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>Ingen forespørsler sendt ennå.</p>
      <% } %>
    </div>
  </body>
</html>
