<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%-title %></title>
  </head>
  <body class="fact-body">
    <h1 class="fact-header"><%= heading %></h1>
    <div class="fact-p-div">
      <p class="fact-p"><%= fact %></p>
    </div>
  </body>
</html>
