<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <title>Catfact Coding</title>
  </head>
  <body>
    <a class="layout-button" href="/">Home</a>
    <a class="layout-button" href="/registerUser">Til sign up!</a>
    <a class="layout-button" href="/signin">Sign in!</a>
    <a class="layout-button" href="/signOut">Sign Out!</a>
    <a class="layout-button" href="/fact">Cat facts</a>
    <img class="layout-img" src="/coding-svgrepo-com.png" alt="company icon" />
    <%- body %>
  </body>
</html>
