<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/registerUser">Til sign up!</a>
    <a href="/signin">Sign in!</a>
    <a href="/fact">Cat facts</a>
    <a href="/signOut">Sign Out!</a>
    <%- body %>
  </body>
</html>
